<!DOCTYPE html>
<html lang="en">

<head>

    <title>Bio</title>
    <link rel="stylesheet" href="/css/bio.css" />
</head>

<body></body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="dropdown" id="dropdown">

        <a class="btn" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/menu_g.png"> </img>
        </a>
        <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenu2" id="dropdown-menu">
            <li><button class="dropdown-item" type="button" onclick="movepage('homepage')" >Homepage</button></li>
            <li><button class="dropdown-item" type="button" onclick="movepage('bio')" >Bio</button></li>
            <li><button class="dropdown-item" type="button" onclick="movepage('map')" >Map</button></li>
            <li><button class="dropdown-item" type="button" onclick="movepage('birdmanagement')">Data</button></li>
        </ul>
    </div>
    <div class="container" id="titleb">
        <h1 class="display-6">Brian's Bird Observation</h1>
    </div>



</nav>
<div class = "container">
<div class="profile">
   <h1 id="profile" >Brian</h1>
    <div class = inner>
        
        <div class = inner2>
            <p>When I moved to Lockwood South to live in 1990 I started to see and hear birds that I had not seen before, having lived in Melbourne. I bought a Field Guide to try and recognise some. The first one that I first managed to recognise was the Grey Shrikethrush. From this my interest grew and greatly added to my enjoyment in the Australian Bush and Outback, and over the next 20 years I travelled extensively and saw in excess of 600 different species of native birds</p>
        </div>

    </div>
    <div class = inner3></div>
    
</div>
</div>
<div class="showcase" id="showcase">
    <img src="/img/More.png"> </img>
    </body>
</div>


</html>