.navbar{
    background: linear-gradient(90.09deg, #062909 0%, #052909 48.69%, rgba(23, 71, 11, 0.88) 99.97%);
    height: 94px;
    font-family: Inter;
}

    
#titleb{
    font-size: 3em;
    text-align: center;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    max-width: 540px;
}
#dropdownMenu2{
   padding: 0px;
   margin-left: 0.75rem;
   

}
#dropdown-menu{
    background-color: #062909;
    border: none;
    min-width: 20rem;
    
    
}
#dropdown-menu.show {
    display: block;
    margin-top: 0px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
}
.dropdown-items{
    background-color: #062909;
    color: #ffffff;
    
    display: inline-block;
    font-size: 2em;
    height: 79px;
    width:90%;
    padding: 0px;
    margin-left: auto;
    border:none;
}

#dropdown-menu.show li :hover{
    background-color: #86C61E;
    height: 79px;
    border-radius: 20px;
}

#dropdownMenuLink{
    color:black;
    border:none;
    background-color: transparent;
    margin-left: 10%;
    margin-top: 5%;
}
.birdbox{
    width: 10%;
    background: #D9D9D9;
    border-radius: 15px;
    text-align: center;
}
#birdlist{
    display: block;
    list-style: none;
    
}
li{
    margin-top: 2%;
}
.notesec{
    position: absolute;
    background-color: #D9D9D9;
    width: 50%;
    height: 70%;
    right:100px;
    top:200px;
    border-radius: 15px;
   
}
.notesec p{
    left:10px;
    position: absolute;
    top:10px;
    font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
display: flex;
align-items: center;

color: #000000;
}
#sum{
    position: absolute;
    top:-52px;

}